<fieldset class="align-top">
    <legend>Add item</legend>
    <input type="number" placeholder="id" name="id" [(ngModel)]="addTableItem.id"><br />
    <input type="text" placeholder="firstName" name="firstName" [(ngModel)]="addTableItem.firstName"><br />
    <input type="text" placeholder="lastName" name="lastName" [(ngModel)]="addTableItem.lastName"><br />
    <button (click)="addItem(addTableItem)">
        addItem
    </button>
</fieldset>

<fieldset class="align-top">
    <legend>Delete item</legend>
    <input type="number" placeholder="itemId" name="idForDelete" [(ngModel)]="idForDelete" /><br />
    <button (click)="deleteItem(idForDelete)">
        deleteItem
    </button>
</fieldset>

<fieldset class="align-top">
    <legend>Edit item</legend>
    <select [(ngModel)]="editTableItem">
        <option value="" disabled>Choose item id for editing</option>
        <option *ngFor="let item of myData" [ngValue]="item">
            {{item.id}}
        </option>
    </select>

    <div *ngIf="noNullOrUndefinedObject(editTableItem) && noNullOrUndefinedItems(editTableItem)">
        <input type="text" placeholder="firstName" name="firstName" [(ngModel)]="editTableItem.firstName"><br />
        <input type="text" placeholder="lastName" name="lastName" [(ngModel)]="editTableItem.lastName"><br />
        <button (click)="editItem(editTableItem)">
            EditItem
        </button>
    </div>
</fieldset>

<sst-datatable [data]="myData" [dataTableContext]="myDataTableContext">
    <columns-def>
        <column title="ID" property="id"></column>
        <column title="First Name" property="firstName"></column>
        <column title="Last Name" property="lastName"></column>
    </columns-def>
</sst-datatable>