<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="brand">
        <div class="image">
            <img src="favicon.ico">
        </div>
        <div class="title">
            SKY SOFT
        </div>
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <li class="nav-item menu-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <button class="btn btn-dark menu-item-button" [routerLink]="['/dashboard/home']">
                <i class="fa fa-lg fa-dashboard"></i>
                <span class="nav-link-text">Dashboard</span>

            </button>
        </li>

        <li class="nav-item menu-item" data-toggle="tooltip" data-placement="right" title="About">
            <button class="btn btn-dark menu-item-button" [routerLink]="['/dashboard/about']">
                <i class="fa fa-info-circle fa-lg"></i>
                <span class="nav-link-text">About</span>
               
            </button>
        </li>
    </ul>

    <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
                <i class="fa fa-fw fa-angle-left"></i>
            </a>
        </li>
    </ul>
    
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown userInfo">
                
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                        <i class="fa fa-user"></i>{{_loginedUser.username}}<b class="caret"></b>
                    </button>
       
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="">
                        <i class="fa fa-fw fa-user"></i> Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">
                        <i class="fa fa-fw fa-gear"></i> Account settings
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']">
                        <i class="fa fa-fw fa-power-off"></i> Log Out
                    </a>
                </div>
            </li>
        </ul>

    </div>
</nav>

<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>