#mainNav .brand {
    display: inline-block;
    min-width: 150px;
    width: auto;
    text-align: center !important;
    font-size: 22px;
    cursor: context-menu;
}
    #mainNav .brand .image {
        display: inline-block;
        width: 50px;
    }

    #mainNav .brand .title {
        display: inline-block;
        min-width: 100px;
        width: auto;
        color: white;
    }

#mainNav .userInfo {
    display: inline-block;
    color: #999999;
}

    #mainNav .userInfo button {
        min-width: 130px;
        width: auto;
        height: 40px;
        text-align: left;
    }
    
    #mainNav .menu-item-button{
        text-align: left;
        min-width: 130px;
        width: 100%;
        height: 40px;
    }

    #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        cursor: pointer;
    }

    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
        float: right;
        content: '\f107';
        font-family: 'FontAwesome';
    }

    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
        content: '\f105';
    }

    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
        padding-left: 0;
    }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
            display: block;
            padding: 0.5em 0;
        }

            #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
            #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
            #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
                text-decoration: none;
            }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
            padding-left: 1em;
        }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
            padding-left: 2em;
        }

    #mainNav .navbar-collapse .sidenav-toggler {
        display: none;
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
        position: relative;
        min-width: 45px;
    }

        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
            float: right;
            width: auto;
            content: '\f105';
            border: none;
            font-family: 'FontAwesome';
        }

#mainNav .navbar-brand {
    width: 200px;
}

#mainNav.fixed-top .sidenav-toggler {
    display: none;
}

.content-wrapper {
    margin: 0;
    margin-top: 56px;
    height: calc(100%-56px);
}

@media (min-width: 992px) {

    .content-wrapper {
        margin-top: 56px;
        margin-left: 200px;
    }


    #mainNav .menu-item-button +    #mainNav .userInfo button {
        min-width: 130px;
        width: 100%;
        height: 40px;
    }

    #mainNav .navbar-collapse {
        overflow: visible;
        max-height: none;
    }

        #mainNav .navbar-collapse .navbar-sidenav {
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: column;
            margin-top: 56px;
        }

            #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
                width: 200px;
                padding: 0;
            }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #343a40;
        height: 100vh;
        width: 200px;
    }

}





